/* ============= FONTS ============= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
    /* ============= COLORS ============= */
    /* primary */
    --purple: hsl(259, 100%, 65%);
    --lightRed: hsl(0, 100%, 67%);
    /* neutral */
    --white: hsl(0, 0%, 100%);
    --offWhite: hsl(0, 0%, 94%);
    --lightGrey: hsl(0, 0%, 86%);
    --smokeyGrey: hsl(0, 1%, 44%);
    --offBlack: hsl(0, 0%, 8%);
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--lightGrey);
    overflow: hidden;
}
.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    width: 650px;
    height: auto;
    padding: 40px;
    border-radius: 25px 25px 200px 25px;
    background-color: var(--white);
}
@media (min-width: 375px) and (max-width: 1000px) {
    .calculator {
        width: 90%;
        height: auto;
        padding: 30px;
        border-radius: 25px 25px 100px 25px;
    }
}
/* calculator inputs */
.calculator__inputs {
    display: flex;
}
.ibox {
    display: flex;
    flex-direction: column;
    position: relative;
}
.calculator__inputs_input {
    width: 120px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 800;
    border: 1px solid var(--lightGrey);
    border-radius: 5px;
    margin: 5px 30px 0 0;
    outline: none;
}
.calculator__inputs_input:focus {
    border: 1px solid var(--purple);
}
.calculator__inputs_label {
    font-size: 10px;
    letter-spacing: 2px;
    color: var(--smokeyGrey);
}
label {
    left: 0;
}
/* hided arrows in input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
@media (min-width: 375px) and (max-width: 1000px) {
    .ibox {
        width: 33.33%;
        padding: 5px;
    }
    .ibox:first-child {
        padding-left: 0;
    }
    .ibox:last-child {
        padding-right: 0;
    }
    .calculator__inputs_input {
        width: 100%;
    }
}
/* incorrect input */
.calculator__inputs_input.calculator__inputs_input--incorrect {
    border: 1px solid var(--lightRed);
}
.calculator__inputs_label.calculator__inputs_label--incorrect {
    color: var(--lightRed);
}
.calculator__inputs_error-msg {
    color: var(--lightRed);
    font-weight: 400;
    font-style: italic;
    font-size: 10px;
    margin-top: 5px;
}

/* calculator button */
.calculator__button {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    position: relative;
}
.calculator__button_btn {
    width: 60px;
    height: 60px;
    background-color: var(--purple);
    border-radius: 100%;
    border: none;
}
.calculator__button_btn:hover {
    cursor: pointer;
    background-color: var(--offBlack);
}
.calculator__button_btn::before {
    content: '';
    display: block;
    width: calc(100% - 60px);
    height: 1px;
    background-color: var(--lightGrey);
    position: absolute;
    left: 0;
    top: 50%;
}
@media (min-width: 375px) and (max-width: 1000px) {
    .calculator__button {
        justify-content: center;
        margin: 20px 0;
    }
    .calculator__button_btn::before {
        width: calc(50% - 30px);
    }
    .calculator__button_btn::after {
        content: '';
        display: block;
        width: calc(50% - 30px);
        height: 1px;
        background-color: var(--lightGrey);
        position: absolute;
        right: 0;
        top: 50%;
    }
}
/* calculator output */
.calculator__output_output {
    font-weight: 800;
    font-style: italic;
    color: var(--offBlack);
    font-size: 70px;
    letter-spacing: -2px;
}
.calculator__output_number {
    color: var(--purple);
}
@media (min-width: 375px) and (max-width: 1000px) {
    .calculator__output_output {
        font-size: 50px;
    }
}